@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
*{
    font-family: "Open Sans", sans-serif !important;
}
button{
    @apply cursor-pointer bg-orange-500 hover:bg-orange-600;
}
input[type="text"]{
    @apply outline-none;
}