@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
*{
    font-family: "Open Sans", sans-serif !important;
    scroll-behavior: smooth !important;
}
button{
    @apply cursor-pointer bg-orange-500 hover:bg-orange-600 text-white rounded p-3;
}
button:disabled{
    @apply bg-gray-500 text-white cursor-not-allowed;
}
input[type="text"],input[type="email"],input[type="password"]{
    @apply outline-none border-gray-500 border rounded p-3;
}
thead{
    @apply bg-orange-500;
}
th:first-child{
    @apply rounded-tl-lg;
}
th:last-child{
    @apply rounded-tr-lg;
}
input[type="checkbox"]{
    cursor: pointer;
}
th{
    @apply text-center break-words py-3 text-lg border-white text-white;
}
td{
    @apply text-center break-words py-2 text-lg border-b border-gray-300;
}

::-webkit-scrollbar{
    display: none;
}